@import "bootstrap-sprockets";
@import "bootstrap";

$c-p: #22253c;
$c-0: #000;
$c-3: #333;
$c-6: #666;
$c-9: #999;
$c-b: #bbb;
$c-d: #ddd;
$c-f: #fff;

html * {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

a {
  color: $c-d;
  &:hover {
    transition: 0.5s;
    color: $c-f;
    text-decoration: none;
    text-shadow: 0 0 5px $c-3;
  }
}
i {
  margin-right: 10px;
}
.small {
  font-size: 4px!important;
  font-weight: bold;
  
}
.list-striped .list-group-item:nth-child(odd) {
  background-color: lighten(#ebccd1,10%);
}
.flash {
  .alert {
    font-size: 1.6rem;
    color: #ccc;
    text-shadow: 0 0 10px #333;
    padding: 10px 30px;
    box-shadow: 0 0 10px #333;
  }
  .alert-success {
    background-color: rgba(106,7,14,0.5);
    border-color: rgba(100,1,8,0.6);
  }
}

@mixin btn-primary {
    margin-top: 30px;
    padding: 15px;
    width: 30%;
    display: block;
    font-size: 1.5rem;
    background-color: $c-p;
    border-color: $c-p;
}

.navbar {
  &-brand {
    padding: 0 0 0 10px;
    height: 30px;
    text-transform: uppercase;
    a {
      color: $c-b;
      &::after {
        margin-left: 10px;
        content: "by Ruby on Rails Tutorial";
        font-size: 0.6rem;
        letter-spacing: 1px;
        color: $c-9;
      }
    }
  }
  
  &-inverse {
    background-color: $c-p;
    box-shadow: 0 2px 5px darken($c-p,10%);
  }
  
  &-nav {
    margin-top: 7px;
  }
}

.jumbotron {
  min-height: 200px;
  padding-bottom: 60px;
  background: image_url("hero.jpg") 0 0 no-repeat;
  background-size: cover;
  color: $c-d;
  text-shadow: 0 0 10px $c-3;
  h1 {
    font-size: 6.2rem;
    img {
      margin: 10px 20px 0 0;
      float: left;
      filter: drop-shadow(0 0 5px $c-3);
    }
  }
  h2 {
    font-weight: normal;
    font-size: 2.4rem;
    margin-bottom: 20px;
  }

  .btn-primary {
    @include btn-primary;
    
    &:hover {
      background-color: lighten($c-p,10%);
      border-color: lighten($c-p,10%);
    }
  }
}

.footer {
    background-color: $c-p;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding-top: 20px;
    box-shadow: 0 -2px 10px $c-9;
    border-top: 1px solid lighten($c-p,30%);
    color: $c-b;
    
    small {
      float: left;
    }
    
    ul {
      float: right;
      display: flex;
      justify-content: center;
      list-style-type: none;
      li {
        margin-left: 30px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
}

.debug_dump {
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 80%;
  background-color: $c-d;
  border-radius: 6px 6px 0 0;
  border-top: 3px solid $c-f;
  border-left: 3px solid $c-f;
  border-right: 3px solid $c-f;
  box-shadow: 0 0 10px $c-p, 0 0 10px $c-9 inset;
  padding: 15px 30px;
  color: #111;
  font-weight: bold;
  line-height: 2;
  animation: fadeOut 10s;
  animation-fill-mode: both;
}
.debug_dump::first-line {
  font-size: 2rem;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }  
  80% {
    opacity: 1;
  }
  98% {
    opacity: 0;
    display: none;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

// Sign up
form {
  .input-group {
    z-index: 0;
    margin-bottom: 15px;
    border-bottom: 1px dotted $c-b;
    padding-bottom: 15px;
    display: flex;
    .input-group-addon {
      width: 240px!important;
      padding: 9px 14px;
      text-align: left;
    }
  }
  .field_with_errors:first-child {
    .input-group-addon {
      float: left;
      padding: 9px 14px;
      width: 186px!important;
      border: 1px solid $c-b;
      border-radius: 3px 0 0 3px;
    }
  }
  .field_with_errors:last-child {
    width: 100%!important;
    .form-control {
      margin-left: -1px;
      border-radius: 0 4px 4px 0!important;
      width: 100%!important;
    }
  }
  .btn-primary {
    @include btn-primary;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .nav {
    float: right;
    li {
      position: none;
      display: inline;
      float: left;
    }
  }
  .footer {
    height: 60px;
  }
}