// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_name {
  display: block;
  margin-bottom: -10px;
  padding-top: 5px;
}
img.gravatar {
  border-radius: 5px;
}
.created {
  padding: 5px 20px;
  background: linear-gradient(to right, rgba(55,59,98,0.4), rgba(55,59,98,0));
  width: 100%;
  border-radius: 3px;
  text-shadow: 0 0 3px #333;
  letter-spacing: 1px;
  color: #ccc;
  strong {
    font-size: 1rem;
    color: #999;
  }
}
